name: CI
on: [push, pull_request]
jobs:
  build_and_test:
    name: color-backtrace
    runs-on: "${{ matrix.image_name }}"
    strategy:
      matrix:
        image_name: ["macos-15", "windows-2025", "ubuntu-24.04"]
        features: ["--all-features"]
        include:
          - image_name: "ubuntu-24.04"
            features: "--no-default-features" # can't print any traces, but should compile at least
          - image_name: "ubuntu-24.04"
            features: "--no-default-features --features use-btparse-crate"
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build ${{ matrix.features }}
      - name: Test
        run: cargo test ${{ matrix.features }}
